:root{
    --fur-black: #31292c;
    --fur-dark: #77563b;
    --fur-medium: #8b6439;
    --fur-medium-light: #977456;
    --fur-light: #bbb9b4;
    --fur-mark: #342315;    
    --eye: #c69338;
    --eye-black: #14101e;
    --nose: #48465b;
    --ear: #a8a3a0;
}

.canvas{
    border: solid 1px red;
    padding: 4em;

}
.caracal{
    position: relative;
    background-color: var(--fur-medium-light);
    clip-path: polygon(7% 32%, 29% 52%, 43% 50%, 63% 31%, 55% 63%, 57% 75%, 89% 100%, 20% 100%, 15% 80%, 13% 65%);
    width: 600px;
    height: 600px;
}
.ear{
    position: absolute;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid var(--ear);
    border-left: 30px solid transparent;
    top: -30%;
}

.ear.left{
    transform: rotate(-15deg);
    left: 0%;
}
.ear.right{
    
    transform: rotate(15deg);
    right: 0%;
}
.eye{
    height: 25px;
    width: 50px;
    background-color: var(--eye);
    position: absolute;
    overflow: hidden;
    top: 40%;
    z-index: 999;
    border-left: 4px solid var(--eye-black);
    border-right: 4px solid var(--eye-black);
    border-top: 2px solid var(--eye-black);
    border-bottom: 2px solid var(--eye-black);
}
.eye.left{
    border-radius: 66% 34% 45% 55% / 13% 42% 58% 87%;
    left: 15%;
}

.eye.left::before{
    content:' ';
    background-color: var(--eye-black);
    border-radius: 50%;
    height: 20px;
    width: 10px;
    transform: translateX(21px) translateY(-5px);
    position: absolute;
}
.eye.left::after {
    content: ' ';
    background-color: #fff;
    opacity: 0.3;
    height: 12px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -15%;
    left: 15%;
}

.eye.right{
    border-top-left-radius: 34% 42%;
    border-top-right-radius: 66% 13%;
    border-bottom-right-radius: 55% 87%;
    border-bottom-left-radius: 45% 58%;
    right: 15%;
}
.eye.right::before{
    content:' ';
    background-color: var(--eye-black);
    border-radius: 50%;
    height: 20px;
    width: 10px;
    transform: translateX(21px) translateY(-5px);
    position: absolute;
}

.pupil.left{
    transform: translateX(21px) translateY(-5px);
}
.pupil.right{
    
}
.eye.right::after {
    content: ' ';
    background-color: #fff;
    opacity: 0.3;
    height: 12px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -15%;
    left: 15%;
}
.nose{
    position: absolute;
    border-radius: 40% 40% 50% 50% / 25% 25% 75% 75%;
    background-color: var(--nose);
    width: 50px;
    height: 40px;
    top: 65%;
    left: 39%;
    z-index: 999;
}

.nose::before{
    content: ' ';
    background-color: #000;
    border-radius: 13% 87% 9% 91% / 13% 75% 25% 87%;
    position: absolute;
    z-index: 999;
    width: 13px;
    height: 10px;
    top: 35%;
}

.nose::after{
    content: ' ';
    background-color: #000;
    border-top-left-radius: 87% 75%;
    border-top-right-radius: 13%;
    border-bottom-right-radius: 91% 87%;
    border-bottom-left-radius: 9% 25%;
    position: absolute;
    z-index: 999;
    width: 13px;
    height: 10px;
    top: 35%;
    right: 1%;
}

.mouth{
    height: 60px;
      width: 60px;
      position: absolute;
      top: 1%;
      left: 1%;
}


.cheek{
    position: absolute;
    top: 66%;
    width: 71px;
    height: 47px;
    border-bottom: 2px solid var(--fur-black) ;
}


.wrapper{
    position: absolute;
}

.mark{
    position: absolute;
    background-color: var(--fur-mark);
    width: 10px;
    height: 20px;
    top: 25%;
    z-index: 9;
}

.mark.left{
    left: 35%;
    border-radius: 50% 20% 0% 80%/25% 25% 25% 80%;
}

.mark.right{
    right: 35%;
    border-top-left-radius: 20% 25%;
    border-top-right-radius: 50% 25%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 0% 25%;
}

.mark.forehead{
    top: 6%;
    left: 47%;
    width: 8px;
    height: 40px;
    border-radius: 0% 100% 0% 100%;
    transform: rotate(10deg);
}

.undereye{
    background: var(--fur-light);
    
    height: 40px;
    width: 42px;
    top: 36%;
    
    position: absolute;
    z-index: 9;
}
.undereye.left{
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 30% 45%;
    border-bottom-left-radius: 80%;
    left: 21%;
}

.undereye.right{
    border-radius: 50% 50% 80% 30%/50% 30% 80% 45%;
    right: 21%;
}
.contour{
    position: absolute;
    border-radius: 50%;
    width: 190px;
    height: 155px;
    background: var(--fur-medium);
    top: 1%;
    left: 1%;
}
.head{
    position: relative;
    border-radius: 40% 40% 50% 50% / 30% 30% 50% 50% ;
    border: solid;
    /*background: radial-gradient(ellipse at 50% 0%, rgba(151,116,86,1) 0%,  70.83%, rgba(187,185,180,1) 100%) 113px 217px / 258px 98px no-repeat no-repeat; /* New Background */
    height: 225px;
    width: 235px;
    top: 53%;
    left: 15%;
}