:root{
    --fur-black: #31292c;
    --fur-dark: #77563b;
    --fur-medium: #8b6439;
    --fur-medium-light: #977456;
    --fur-light: #bbb9b4;
    --fur-mark: #342315;
    --fur-mark-transparent: rgba(52,35,21,0.0);
    --eye: #c69338;
    --eye-black: #14101e;
    --nose: #48465b;
    --ear: #a8a3a0;
}

img{
    max-height: 200px;
}

.canvas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*.ear{
    position: absolute;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid var(--ear);
    border-left: 30px solid transparent;
    top: -30%;
}

.ear.left{
    transform: rotate(-15deg);
    left: 0%;
}
.ear.right{
    
    transform: rotate(15deg);
    right: 0%;
}*/
.eye{
    height: 25px;
    width: 40px;
    background-color: var(--eye);
    position: absolute;
    overflow: hidden;
    top: 40%;
    z-index: 999;
    border-left: 4px solid var(--eye-black);
    border-right: 4px solid var(--eye-black);
    border-top: 2px solid var(--eye-black);
    border-bottom: 2px solid var(--eye-black);
}
.eye.left{
    border-radius: 66% 34% 45% 55% / 13% 42% 58% 87%;
    left: 15%;
}

.eye.left::before{
    content:' ';
    background-color: var(--eye-black);
    border-radius: 50%;
    height: 20px;
    width: 10px;
    transform: translateX(15px) translateY(-5px);
    position: absolute;
}
.eye.left::after {
    content: ' ';
    background-color: #fff;
    opacity: 0.4;
    filter: blur(2px);
    height: 12px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -15%;
    left: 35%;
}

.eye.right{
    border-top-left-radius: 34% 42%;
    border-top-right-radius: 66% 13%;
    border-bottom-right-radius: 55% 87%;
    border-bottom-left-radius: 45% 58%;
    right: 15%;
}
.eye.right::before{
    content:' ';
    background-color: var(--eye-black);
    border-radius: 50%;
    height: 20px;
    width: 10px;
    transform: translateX(15px) translateY(-5px);
    position: absolute;
}

.pupil.left{
    transform: translateX(21px) translateY(-5px);
}
.pupil.right{
    
}
.eye.right::after {
    content: ' ';
    background-color: #fff;
    opacity: 0.4;
    filter: blur(2px);
    height: 12px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -15%;
    left: 35%;
}

.nose{
    position: absolute;
    overflow: hidden;
    border-radius: 40% 40% 50% 50% / 25% 25% 75% 75%;
    background-color: var(--nose);
    width: 50px;
    height: 40px;
    top: 65%;
    left: 39%;
    z-index: 999;
}

.nose::before{
    content: ' ';
    background-color: #000;
    border-radius: 13% 87% 9% 91% / 13% 75% 25% 87%;
    position: absolute;
    z-index: 999;
    width: 13px;
    height: 10px;
    top: 35%;
    filter: blur(1px)
}

.nose::after{
    content: ' ';
    background-color: #000;
    border-top-left-radius: 87% 75%;
    border-top-right-radius: 13%;
    border-bottom-right-radius: 91% 87%;
    border-bottom-left-radius: 9% 25%;
    position: absolute;
    z-index: 999;
    width: 13px;
    height: 10px;
    top: 35%;
    right: 1%;
    filter: blur(1px);
}

.mouth{
    height: 60px;
      width: 60px;
      position: absolute;
      top: 1%;
      left: 1%;
}


.cheek{
    position: absolute;
    top: 66%;
    width: 71px;
    height: 47px;
    border-bottom: 2px solid var(--fur-black) ;
}

.mark{
    position: absolute;
    z-index: 9;
    background-color: var(--fur-mark);
    top: 25%;
    filter: blur(3px);
    width: 21px;
    height: 30px;
}
.mark.left{
    left: 30%;
    border-radius: 53% 47% 0% 100% / 33% 29% 71% 67%;
}

.mark.right{
    right: 30%;
    border-top-left-radius: 47% 29% ;
    border-top-right-radius: 53% 33% ;
    border-bottom-right-radius: 100% 67%;
    border-bottom-left-radius: 0% 71%;
}

.forehead{
    position: absolute;
    background: linear-gradient(180deg, var(--fur-mark-transparent) 50%, var(--fur-mark) 100%);
    height: 158px;
    width: 10px;
    left: 48%;
    filter: blur(4px);
}

.forehead::before{
    content: ' ';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 92px solid;
      position: absolute;
      opacity: 0.8;
      left: -12%;
}

.undereye{
    background-color: var(--fur-light);
    position: absolute;
    top: 40%;
    width: 50px;
    height: 33px;
    border-radius: 50%;
    filter: blur(1px);
}

.undereye.left{
    left: 13%;
    border-radius: 66% 34% 45% 55% / 13% 42% 58% 87%;
}

.undereye.left::before{
    content: ' ';
    width: 14px;
    height: 42px;
    right: -23%;
    background: var(--fur-light);
    position: absolute;
    border-top-left-radius: 0%;
    border-top-right-radius: 75% 30%;
    border-bottom-right-radius: 75% 30%;
    border-bottom-left-radius: 0%;
    transform: rotate(-11deg);
    filter: blur(4px);
}
.undereye.right{
    right: 13%;
    border-top-left-radius: 34% 42%;
    border-top-right-radius: 66% 13%;
    border-bottom-right-radius: 55% 87%;
    border-bottom-left-radius: 45% 58%;
}

.undereye.right::before{
    content: ' ';
    width: 14px;
    height: 42px;
    left: -23%;
    background: var(--fur-light);
    position: absolute;
    border-radius: 75% 0% 0% 75% / 30% 0% 0% 30%;
    transform: rotate(11deg);
    filter: blur(4px);
}
.contour{
    position: absolute;
    border-radius: 50%;
    width: 190px;
    height: 155px;
    background: var(--fur-medium);
    top: 1%;
    left: 1%;
}
.head{
    position: relative;
    border-radius: 40% 40% 50% 50% / 30% 30% 50% 50% ;
    background-color: var(--fur-medium-light);
    background: radial-gradient(ellipse at top, var(--fur-medium-light) 50%, var(--fur-light));
    height: 225px;
    width: 223px;
    top: 53%;
    left: 15%;
    overflow: hidden;
}

.body{
    background: radial-gradient(at 0 var(--fur-light), at 100 var(--fur-medium-light));
    border-radius: 0% 50% 0% 75% / 30% 100% 0% 0%;
    width: 313px;
    height: 204px;
    position: absolute;
    left: 17%;
    top: 17%;
    z-index: -1;
}

.cheek{
    position: absolute;
    background-color: var(--fur-light);
    filter: blur(9px);
    opacity: 0.6;
    width: 50%;
    height: 40%;
    bottom: 0;
}
.cheek.left{
    transform: skew(0deg, 25deg);
}
.cheek.right{
    right: 0;
    transform: skew(0deg, -25deg);
}
.ear{
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}
.ear.left{
    border-left: 67px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 142px solid var(--ear);
    top: -30%;
    left: -8%;
    transform: rotate(-14deg) skew(8deg, -8deg);
}

.ear.right{
    border-left: 65px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 145px solid var(--ear);
    top: -28%;
    right: -4%;
    transform: rotate(9deg) skew(-9deg, -17deg);
}